{% extends 'base.html' %}
{% block title %}Сброс пароля{% endblock %}
{% load user_filters %}
{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}
{% block content %}
    <div class="main__header">
        <h1 class="main__title">Сброс пароля</h1>
    </div>
    <p>Мы отправили инструкцию по восстановлению пароля на Ваш email</p>
    <p>Если Вы не получили письмо проверьте правильность указанного адреса
        в форме восстановления. Он должен совпадать с адресом регистрации
        аккаунта</p>
{% endblock %}