{% extends 'base.html' %}
{% block title %}Изменение пароля{% endblock %}
{% load user_filters %}
{% load static %}
{% block static %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}

    <div class="custom-center-block">
        <h1 class="main__title">Пароль успешно изменен</h1>
    </div>
    <p>Ваш пароль успешно изменен. Теперь вы можете: <a
            href="{% url 'login' %}">зайти на сайт</a>
    </p>
    <div class="form__footer">
                    <button class="button button_style_blue">Перейти
                        на главную</button> <br>

                </div>
{% endblock %}